{{ render '@skip-nav' }}
{{ render '@header' }}
<main id="maincontent" class="js-heroimage">
  {{ render '@call-to-action' }}
  {{ render '@login' }}
  {{ render '@home-stats' }}
</main>
{{ render '@footer' }}
