{{ render '@skip-nav' }}
{{> @header }}
<main id="maincontent">
  {{ render '@call-to-action' }}
  {{ render '@login' }}
  {{ render '@home-stats' }}
  {{ render '@blog' }}
</main>
{{ render '@footer' }}
