<table class="table table-hover">
  <thead>
    <tr>
      {{#each table_header}}
        <th scope="col">{{ table.header }}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    <tr class="table-data">
      {{#each table_data}}
        <td>{{ table.data1 }}</td>
      {{/each}}
    </tr>
    <tr class="table-data">
      {{#each table_data}}
        <td>{{ table.data2 }}</td>
      {{/each}}
    </tr>
    <tr class="table-data">
      {{#each table_data}}
        <td>{{ table.data3 }}</td>
      {{/each}}
    </tr>
    <tr class="table-data">
      {{#each table_data}}
        <td>{{ table.data4 }}</td>
      {{/each}}
    </tr>
    <tr class="table-data">
      {{#each table_data}}
        <td>{{ table.data5 }}</td>
      {{/each}}
    </tr>
    <tr class="table-data">
      {{#each table_data}}
        <td>{{ table.data6 }}</td>
      {{/each}}
    </tr>
    <tr class="table-data">
      {{#each table_data}}
        <td>{{ table.data7 }}</td>
      {{/each}}
    </tr>
    <tr class="table-data">
      {{#each table_data}}
        <td>{{ table.data8 }}</td>
      {{/each}}
    </tr>
  </tbody>
</table>
