<div id="{{ checkbox.component_id }}" class="c-checkbox js-checkbox {{#if checkbox.invalid_description_id }}is-invalid{{/if}}">
  <input
    id="{{ checkbox.input_id }}"
    type="checkbox"
    name="{{ checkbox.name }}"
    value="{{ checkbox.value }}"
    aria-describedby="{{ checkbox.general_description_id }}
    {{#if checkbox.invalid_description_id }}{{ checkbox.invalid_description_id }}{{/if}}"
    {{#if checkbox.required}}class="required"{{/if}}>
  <label for="{{ checkbox.input_id }}">{{ checkbox.label }}</label>
  {{#if checkbox.general_description_id}}
    <div id="{{ checkbox.general_description_id }}" class="c-checkbox__general-description">{{ checkbox.general_description }}</div>
  {{/if}}
    <div id="{{ checkbox.invalid_description_id }}" class="c-checkbox__invalid-description js-invalid-description" {{#unless checkbox.invalid_description_id }}hidden{{/unless}}>{{ checkbox.invalid_description }}</div>
</div>
