<section class="c-facet js-facet">
  <header>
    <h3>Funder ({{facet.total}})</h3>
    <button type="button" class="c-facet__toggle-list js-facet__toggle-list" aria-label="filters" aria-expanded="false"></button>
  </header>
  <ul class="c-facet__list js-facet__list" hidden>
  {{#each facet_items}}
    <li><input id="facet-item-{{facet.itemnumber}}" type="checkbox" name="funder" value="{{facet.itemlabel}}"><label for="facet-item-{{facet.itemnumber}}">{{facet.itemlabel}} <span class="c-facet__item-total js-facet__item-total">({{facet.itemtotal}})</span></label></li>
  {{/each}}
  {{#if facet_items_more }}
    <li>
      <details class="c-more">
        <summary>Show more</summary>
        <ul>
        {{#each facet_items_more}}
          <li><input id="facet-item-{{facet.itemnumber}}" type="checkbox" name="funder" value="{{facet.itemlabel}}"><label for="facet-item-{{facet.itemnumber}}">{{facet.itemlabel}} <span class="c-facet__item-total js-facet__item-total">({{facet.itemtotal}})</span></label></li>
        {{/each}}
        </ul>
      </details>
    </li>
  {{/if}}
  </ul>
</section>
